# Berlin Points of Interest (source-aligned) - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/berlin-points-of-interest-2025-10/berlin-points-of-interest-universities-details.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

           id        lat        lon  ...               street zip_code    city
0   278540049  52.553716  13.359612  ...         Seestraße 64  13347.0  Berlin
1   892568035  52.512852  13.389271  ...  Friedrichstraße 180  10117.0  Berlin
2  1425160484  52.460953  13.293940  ...       Koserstraße 20  14195.0  Berlin
3  1425160485  52.461609  13.293786  ...       Koserstraße 20  14195.0  Berlin
4  1425160486  52.461283  13.294202  ...       Koserstraße 20  14195.0  Berlin

[5 rows x 7 columns]

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        37 non-null     int64
 1   lat       37 non-null     float64
 2   lon       37 non-null     float64
 3   name      37 non-null     object
 4   street    32 non-null     object
 5   zip_code  33 non-null     float64
 6   city      33 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 2.2+ KB

In [4]:
# Describe dataframe
dataframe.describe()

                 id        lat        lon      zip_code
count  3.700000e+01  37.000000  37.000000     33.000000
mean   5.429607e+09  52.494256  13.375848  12081.151515
std    3.550507e+09   0.043146   0.085438   1655.282909
min    2.785400e+08  52.388848  13.119794  10117.000000
25%    2.175035e+09  52.457242  13.315354  10367.000000
50%    4.868588e+09  52.506224  13.387713  12165.000000
75%    9.290845e+09  52.520307  13.399404  13507.000000
max    1.261809e+10  52.581926  13.534354  14482.000000