# Berlin Points of Interest (source-aligned) - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/berlin-points-of-interest-2025-11-csv/berlin-points-of-interest-universities-planning-areas.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

        id  points_of_interest
0  1100206                   8
1  1100207                   1
2  1100309                   1
3  1300835                   2
4  1401048                   1

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     int64
 1   points_of_interest  20 non-null     int64
dtypes: int64(2)
memory usage: 452.0 bytes

In [4]:
# Describe dataframe
dataframe.describe()

                 id  points_of_interest
count  2.000000e+01            20.00000
mean   5.550586e+06             1.80000
std    3.672891e+06             1.67332
min    1.100206e+06             1.00000
25%    1.925338e+06             1.00000
50%    5.300572e+06             1.00000
75%    9.125434e+06             2.00000
max    1.220052e+07             8.00000